/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  height: 100vh;
  background: url('../assets/fondopag.jpeg') no-repeat center center fixed;
  background-size: cover;
}

  
h1{
    text-align: center;
}

  /* Encabezado */
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .logo i {
    margin-right: 5px;
  }
  
  .navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navigation li {
    margin-right: 20px;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navigation a:hover {
    color: #ffd700;
  }

  /* Secciones principales */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }

  /* Categorías */
.category ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .category li {
    flex: 0 0 200px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }
  
  .category li:hover {
    transform: scale(1.05);
  }
  
  .category img {
    width: 100%;
    height: auto;
  }
  
  .category h4 {
    margin: 10px;
    font-size: 16px;
    text-align: center;
  }
  
  /* Pie de página */
  .footer {
    background-color: #333; 
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    width: 100%;
    bottom: 0;
  }